
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10101e;

}
.datetime{
  color: #fff;
  background: #10101e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 450px;  
  padding: 15px 10px;
  border: 3px solid #2e94e3;
  border-radius:10px ;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,0.1));
  transition: 1s;
  transition-property: background-color,box-shadow;
}


.datetime:hover{
    background-color: #2e94e3;
    box-shadow: 0 0 30px #2e94e3;
}



.date {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}
.time{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    letter-spacing: 3px;
    display: flex;
}
.time span:last-child{
    background: #2e94e3;
    font-size: 30px;
    margin-top: 22px;
    margin-left: 20px;
    font-weight: 600;
    border-radius: 10px;
    
    text-transform: uppercase;
}
